---
import type { CollectionEntry } from 'astro:content'
import Comments from '@/components/Comments/index.astro'
import PostDate from '@/components/PostDate.astro'
import GoBack from '@/components/Widgets/GoBack.astro'
import TOC from '@/components/Widgets/TOC.astro'
import Layout from '@/layouts/Layout.astro'
import { generateDescription } from '@/utils/description'
import { getCollection, render } from 'astro:content'

export async function getStaticPaths() {
  const posts = await getCollection('posts')

  type PathItem = {
    params: { posts_slug: string }
    props: { post: any}
  }
  const paths: PathItem[] = []

  // Default locale
  posts.forEach((post: CollectionEntry<'posts'>) => {
    // Show drafts in dev mode only
    if (import.meta.env.DEV || !post.data.draft) {
      const slug = post.data.abbrlink || post.id
      paths.push({
        params: { posts_slug: `posts/${slug}/` },
        props: {
          post,
        },
      })
    }
  })

  return paths
}

const { post} = Astro.props
const description = generateDescription(post, 'meta')
const { Content, headings, remarkPluginFrontmatter } = await render(post)
---

<Layout
  postTitle={post.data.title}
  postDescription={description}
  postSlug={post.id}
>
  <article class="heti mb-12.6">
    <div class="relative">
      <!-- Go Back Button On Desktop -->
      <GoBack />
      <!-- Title -->
      <h1 class="post-title">
        <span
          transition:name={`post-${post.data.abbrlink || post.id}`}
          data-disable-transition-on-theme
        >
          {post.data.title}
        </span>
      </h1>
    </div>

    <!-- Date -->
    <div
      class="mb-16.3 block c-primary font-time"
      transition:name={`time-${post.data.abbrlink || post.id}`}
      data-disable-transition-on-theme
    >
      <PostDate
        date={post.data.published}
        updatedDate={post.data.updated}
        minutes={remarkPluginFrontmatter.minutes}
      />
    </div>
    <!-- TOC -->
    {post.data.toc && <TOC headings={headings} />}
    <!-- Content -->
    <Content />
  </article>

  <!-- Tags -->
  {post.data.tags && post.data.tags.length > 0 && (
    <div class="uno-decorative-line"></div>
    <div class="uno-tags-wrapper">
      {post.data.tags.map((tag: string) => (
        <a
          href={`/tags/${tag}/`}
          class="uno-tags-style"
        >
          {tag}
        </a>
      ))}
    </div>
  )}
  <!-- Comments -->
  <Comments />
</Layout>
